:root {
  /* Global variables */
  --void-background-color: #7bb3e8;
  --surface-background-color: #3d8ad2;
  --surface-foreground-color: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  max-width: 1280px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;

  color-scheme: light dark;
  color: var(--surface-foreground-color);
  background-color: var(--void-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
